.btn{
    display: inline-block;
    color: $gray-medium;
    text-decoration: none;
    border: solid 1px $gray-medium;
    border-radius: 5px;
    padding: 5px 15px;


    &:hover{
        background-color: $primary;
        color: $white;
    }
}


.divisor{
    text-align: center;
    margin-bottom: 50px;
}